*{
    box-sizing: border-box;

}
.cart{
    margin: 0;
    padding: 50px;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.Outer{
    /* display: flex; */
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.containerLeft{
    height: 100%;
    width: 70vw;
    /* border: 3px solid red; */
    justify-content: center;
    align-items: center;
    display: flex;
}
.containerRight{
    height: 20vw;
    width: 20vw;
    /* border:3px solid black; */
    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* background-color: lightgray; */
    /* border-radius: 20px; */
}
.box{
   height: 20vw;
    width: 20vw;
    border: 2px solid lightgray;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;  
    background-color: white;
    /* border-radius: 20px; */
    padding: 10px;
}
.text1{
    height:30% ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    /* border: 2px solid black; */
    text-align: center;
    font-size: 1.2vw;
    

}
.text2{
    height:20% ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    font-size: 1.4vw;
    text-align: center;
    font-weight: bold;

}

.text3{
    height:20% ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    font-size: 1.2vw;
    text-align: center;
}
/* .sqrBox{
    height: 50%;
    width: 10%;
    border:2px solid black;
    margin-right: 10px;
} */

.text4{
    height:30% ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    /* font-size: 1.2vw; */
    text-align: center;
}

.button{
    height:60% ;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    background-color: rgb(250, 250, 44);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}








.main{
    height: 100%;
    width: 90%;
    border: 2px solid lightgray;
    /* border-radius: 5%; */
    overflow: hidden;
    /* padding: 20px; */
    
}
.box1{
    height: 15%;
    width: 100%;
    /* border: 2px solid lightgray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.box2{
    height: 70%;
    width: 100%;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding: 20px;
}

.innerContent{
    height: 50%;
    width: 100%;
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imgDiv{
    height: 80%;
    width: 30%;
    /* border: 2px solid blue; */
    padding: 10px;
    
}

.imgDiv img{
    height: 100%;
    width: 100%;
}

.contentDiv{
    height:80% ;
    width: 60%;
    /* border: 2px solid blue;   */
    font-family: Arial, Helvetica, sans-serif;  
    padding-left: 15px;
}
.name{
    height: 40%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1.8vw;
    font-weight: bold;
    
}
.stock{
    height: 20%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    font-weight: bold;
    color:brown;
}
.shipping{
    height: 20%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-size: 1.5vw;

}
.quantity{
    height: 20%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    
}

.itemPrice{
    height:100%;
    width: 10%;
    text-align: center;
    font-weight: bold;
    /* border: 2px solid blue; */
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 15px;
}


.box3{
    height: 15%;
    width: 100%;
    /* border: 2px solid lightgray; */
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
}

.ShoppingCart{
    text-align: center;
    font-size: 3.5vw;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
.price{
    text-align: center;
    font-size: 1.2vw;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
}



.subtotal{
    text-align: end;
    font-size: 2.5vw;
    /* margin-left: 10px; */
    font-family: Arial, Helvetica, sans-serif;
}
.subtotal2{
    font-size: 2.5vw;
    font-weight: bold;
    margin-right: 15px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 850px){
    .imgDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body{
        flex-direction: column;
    }
    .containerRight{
        margin-left: 4.2vw;
        margin-top: 4.2vw;

    }
    .name{
        font-size: 1.8vh;
    }
    .stock{
        font-size: 1.5vh;
    }
    .shipping{
        font-size: 1.5vh;
    }
    button{
        height: 1vw;
        width:1vw;
        
    }
    .button {
        font-size: 1rem;
        
    }
    .itemPrice{
        font-size: 10px;
        margin-right: 10px;
    }
    .price{
        font-size: 14px;
        margin-right: -8px;
    }
    .box{
        height: 250%;
        width: 310%;
        }

    .text1{
        font-size: 3vw;
    }
    .text2{
        font-size: 3vw;
    }
    .text3{
        font-size: 3vw;
    }
    
}