* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#mainBody {
  height: 100vh;
  width: 100vw;
}

.headerArea {
  height: 8.2%;
  width: 100%;
  background-color: #131921;
  display: flex;
  align-items: center;
}

.amazon-header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.2rem;
  margin-top: 0.3rem;
}
.addressContainer {
  height: 85%;
  display: flex;
  align-items: center;
}
.searchBox {
  height: 85%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.innerSearchBox {
  height: 82%;
  width: 70%;
  background-color: whitesmoke;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
.SearchIconBox {
  height: 100%;
  width: 8.8%;
  background-color: #fabc62;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchArea {
  height: 100%;
  width: 80%;
}

.searchDropDown {
  height: 100%;
  width: 11.2%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.searchDropDownBox {
  height: 70%;
  width: 70%;
  background-color: #c4c0bf;
  border-radius: 0.4rem;
  display: flex;
}
.searchTextBox {
  height: 100%;
  width: 60%;
  font-family: 'Varela Round', sans-serif;
  font-size: 0.9vw;
  display: flex;
  color: #5c5c5c;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.searchIconBox {
  height: 100%;
  width: 60%;
  display: flex;
  color: #5c5c5c;
  justify-content: center;
  align-items: center;
}
.right_iconContainer {
  height: 100%;
  width: 32%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.innerRight-container {
  height: 85%;
  width: 80%;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-icon-box {
  height: 80%;
  width: 12%;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  border-radius: 10px;
}
.right-icon-box:hover {
  background-color: white;
  color: black;
}

.locationIcon {
  display: flex;
  align-items: center;
}
.locationIcon span {
  color: white;
  font-size: 1.25rem;
}
.addressBox {
  height: 60%;
}
.upperAddresBox {
  height: 50%;
  width: 100%;
  color: #bebebf;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
  font-size: 13px;
}
.bottomAddresBox {
  height: 50%;
  width: 100%;
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.main-container {
  height: 91.8%;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerContainer {
  height: 95%;
  width: 50%;
  border-radius: 1.5rem;
  background-color: #273037;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.innerContainer-body {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productOuterLayer{
  margin-top: 1.5rem;
  height: 30%;
  width: 80%;
  border-radius: 1rem;
  display: flex;
 background-color: #d4d4d4;
  flex-direction: row;
  align-items: center;
}
.detailBox{
  margin-left: 10px;
}
 p{
  font-size: 16px;
  font-weight: 600;
}
.imgProduct{
  margin-left: 1rem;
  height: 70%;
  width:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
 border-radius: 5px;
}
.imgProduct img{
  width: 100%;
  overflow: hidden;
}

.dp-outer{
  display: none !important;
}
.Option-box{
  height: 20%;
  width: 80%;
  background-color:  orange;
}
@media only screen and (max-width: 1080px) {
.dp-outer{
  display: block !important;
width: 80%;
margin-left:4rem;
}
.dp-inner{
  background-color: orange !important;
  font-size: 17px !important;
  font-weight: 600 !important;
  width: 80%;
}
.productOuterLayer{
  margin-top: 1.5rem;
  height: 40%;
  width: 80%;
  border-radius: 1rem;
  display: flex;
 background-color: #d4d4d4;
  flex-direction: column;
  align-items: center;
}
.imgProduct{
  margin-top: 1rem;
  height: 50%;
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
 border-radius: 5px;
}
.imgProduct img{
  width: 100%;
  overflow: hidden;
}
.productName{
  height: 20%;
  width: 80%;

 
}
p{
color: rgb(0, 0, 0);
font-weight: 600;
display: flex;
align-items: center;

}

.product_price{
  height: 20%;
  width: 80%;

}

  .addressContainer {
    display: none;
  }
  .searchBox {
    width: 70vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .innerSearchBox {
    width: 100%;
  }
  .right_iconContainer {
    display: none;
  }
  .searchArea {
    width: 100%;
  }
  .SearchIconBox {
    width: 15%;
  }
  .searchDropDownBox {
    margin-left: 1vw;
    width: 100%;
  }
  .searchTextBox {
    font-size: 2.6vw;
    display: none;
  }
  .searchIconBox {
    width: 100%;
    font-size: 4vw;
  }
  .searchDropDownBox {
    width: 100%;
  }
  .searchDropDown {
    display: none;
  }
  .SearchIconBox {
    width: 10vw;
  }
  .SearchIconBox * {
    height: 5vw;
    width: 5vh;
  }
  .amazon-header-logo img {
    height: 2.5vh;
  }

  .innerContainer {
    width: 80vw;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 0.8rem;
  }
  .optionHeader {
    display: none;
  }
  .optionDropDown {
    width: 100% !important;
    display: inline-block !important;
  }
  .optionDropDown button {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    margin-bottom: 2vh;
    font-size: 20px;
  
  }

  .optionDataContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imgContianer {
    width: 100%;
  }
 
  .innerContent {
    height: 100%;
    width: 17rem;
    
  }
  .detailBox{
    height: 43%;
   
  }
}
